# Source:
### https://www.datacamp.com/community/tutorials/recommender-systems-python

In [1]:
# Import Pandas
import pandas as pd

# Load Movies Metadata
metadata = pd.read_csv('../datasets/movies_metadata.csv', low_memory=False)

# Print the first three rows
metadata.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [2]:
# Calculate C
C = metadata['vote_average'].mean()
print(C)

5.618207215133889

The previous value is the average rating of a movie. This rating on imdb is aroung 5.6 on a scale of 10.

Then we use define as cutoff the 90th percentile. Using PANDAS library we can find a quantile method.

In [3]:
# Define the m

m = metadata['vote_count'].quantile(0.90)
print(m)

160.0

### Then, we can filter the movies that qualify for the chart, based on their vote counts:

In [4]:
# Filter out all qualified movies into a new DataFrame
q_movies = metadata.copy().loc[metadata['vote_count'] >= m]
q_movies.shape

(4555, 24)

In [5]:
# Function that computes the weighted rating of each movie

def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [6]:
# Define a new feature 'score' and calculate its value with `weighted_rating()`
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)
#q_movies['score']

# Finally, the Top 15 movies, based on the weighted_rating

In [7]:
#Sort movies based on score calculated above
q_movies = q_movies.sort_values('score', ascending=False)

q_movies = q_movies.reset_index()

#Print the top 15 movies
q_movies[['title', 'vote_count', 'vote_average', 'score']].head(15)

                              title  vote_count  vote_average     score
0          The Shawshank Redemption      8358.0           8.5  8.445869
1                     The Godfather      6024.0           8.5  8.425439
2       Dilwale Dulhania Le Jayenge       661.0           9.1  8.421453
3                   The Dark Knight     12269.0           8.3  8.265477
4                        Fight Club      9678.0           8.3  8.256385
5                      Pulp Fiction      8670.0           8.3  8.251406
6                  Schindler's List      4436.0           8.3  8.206639
7                          Whiplash      4376.0           8.3  8.205404
8                     Spirited Away      3968.0           8.3  8.196055
9                 Life Is Beautiful      3643.0           8.3  8.187171
10           The Godfather: Part II      3418.0           8.3  8.180076
11  One Flew Over the Cuckoo's Nest      3001.0           8.3  8.164256
12                     Forrest Gump      8147.0           8.2  8.150272
13          The Empire Strikes Back      5998.0           8.2  8.132919
14                           Psycho      2405.0           8.3  8.132715

##Â You see that the chart has a lot of movies in common with the IMDB Top 250 chart: for example, your top two movies, "Shawshank Redemption" and "The Godfather", are the same as IMDB.

# Content-Based Recommender in Python

NEXT:
build a system that recommends movies that are similar to a particular movie

**For this, we compute pairwise similarity scores for all movies based on their plot descriptions and recommend movies based on that similarity score.**

### The plot description is available to you as the overview feature in your metadata dataset. Let's inspect the plots of a few movies:

In [19]:
#Print plot overviews of the first 5 movies.
metadata['overview'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

In its current form, it is not possible to compute the similarity between any two overviews. To do this, you need to compute the word vectors of each overview or document, as it will be called from now on.

You will compute **Term Frequency-Inverse Document Frequency (TF-IDF)** vectors for each document. This will give you a matrix where each column represents a word in the overview vocabulary (all the words that appear in at least one document) and each column represents a movie, as before.

## TF-IDF score is the frequency of a word occurring in a document, down-weighted by the number of documents in which it occurs.

This is done to reduce the importance of words that occur frequently in plot overviews and therefore, their significance in computing the final similarity score.

In [9]:
# scikit-learn gives you a built-in TfIdfVectorizer class that produces the TF-IDF matrix in a couple of lines.

#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
#metadata['overview'] = metadata['overview'].fillna('')
q_movies['overview'] = q_movies['overview'].fillna('')


#Construct the required TF-IDF matrix by fitting and transforming the data
#tfidf_matrix = tfidf.fit_transform(metadata['overview'])
tfidf_matrix = tfidf.fit_transform(q_movies['overview'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(4555, 19694)

In the above output, we see that over **75,000 different words were used to describe the 45,000 movies in your dataset.**

**When corrected**:
In the above output, we see that over **19,694 different words were used to describe the 4,500 movies in your dataset.**

NOTE: 
With this matrix in hand, you can now compute a similarity score:
- Euclidean
- Pearson
- Cosine

Again, there is no right answer to which score is the best. Different scores work well in different scenarios and **it is often a good idea to experiment with different metrics.**

To measure the similarity between movies, we will use the **cosine similarity score** since it is independent of magnitude and is relatively easy and fast to calculate (especially when used in conjunction with TF-IDF scores)

Mathematically, it is defined as follows: 

\begin{equation*}
cosine(x,y) = \frac{x.y^T}{|| x ||.|| y ||}
\end{equation*}

Due to we have used the TF-IDF vectorizer, we could obtain the cosine similarity score calculating the dot product. 
Therefore, you will use sklearn's linear_kernel() instead of cosine_similarities() since it is faster

In [10]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

### Before this code some changes were made based on the Thomas Ernste Comment: The original dataset has an amount of information useless for the training, and that information was requiring a huge of memory, generating an Memory Error

In [11]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(metadata.index, index=metadata['title']).drop_duplicates()

Using the map declared above, now we can define a recommendations function, in this case the function will run the next steps:

- Get the index of the movie given its title.
- Get the list of cosine similarity scores for that particular movie with all movies. Convert it into a list of tuples where the first element is its position and the second is the similarity score.
- Sort the aforementioned list of tuples based on the similarity scores; that is, the second element.
- Get the top 10 elements of this list. Ignore the first element as it refers to self (the movie most similar to a particular movie is the movie itself).
- Return the titles corresponding to the indices of the top elements.

In [15]:
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return metadata['title'].iloc[movie_indices]

## Testing TF-IDF using movie name

In [21]:
# Use some of the next movies to make a recommendation
# based on the description

# In this case we are printing just 15, but we have 4500 more movies to 
# use
q_movies[['title', 'vote_count', 'vote_average', 'score']].head(15)

                              title  vote_count  vote_average     score
0          The Shawshank Redemption      8358.0           8.5  8.445869
1                     The Godfather      6024.0           8.5  8.425439
2       Dilwale Dulhania Le Jayenge       661.0           9.1  8.421453
3                   The Dark Knight     12269.0           8.3  8.265477
4                        Fight Club      9678.0           8.3  8.256385
5                      Pulp Fiction      8670.0           8.3  8.251406
6                  Schindler's List      4436.0           8.3  8.206639
7                          Whiplash      4376.0           8.3  8.205404
8                     Spirited Away      3968.0           8.3  8.196055
9                 Life Is Beautiful      3643.0           8.3  8.187171
10           The Godfather: Part II      3418.0           8.3  8.180076
11  One Flew Over the Cuckoo's Nest      3001.0           8.3  8.164256
12                     Forrest Gump      8147.0           8.2  8.150272
13          The Empire Strikes Back      5998.0           8.2  8.132919
14                           Psycho      2405.0           8.3  8.132715

In [17]:
get_recommendations('The Godfather')

3136           Wayne's World 2
216                   The Cure
3086      The Boys from Brazil
3413           American Psycho
1410            Salut cousin !
1824    The Life of Emile Zola
2806             Hang 'em High
77          The Crossing Guard
408                   Airheads
2897      Bride of Re-Animator
Name: title, dtype: object